* {
  box-sizing: border-box;
}
.table {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  width: 80%;
  border: 1px solid #eeeeee;
  margin: auto;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 14px;
  margin-bottom: 10px;
}
.img {
  width: 100px;
  border-radius: 15px;
  margin: 10px auto;
}
.arrow {
  border: none;
  color: rebeccapurple;
}
